@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Lato&display=swap");

/*font-family: "Catamaran", sans-serif;
font-family: "Lato", sans-serif;*/

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.navigation {
  font-family: "Lato", sans-serif;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.navbar-bs {
  color: #fec947;
}

.nav-item {
  color: white;
}

.container__segment--first {
  height: 600px;
  width: 100vw;
  background-image: url(./assets/img/bg-pattern.png),
    linear-gradient(to right, #da2632, #7d4495);
}

.intro {
  font-size: 2em;
  color: white;
}

.phone {
  object-fit: fill;
  width: 200px;
}

.btn {
  font-family: "Lato", sans-serif;
}

.btn--startNow {
  width: 200px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  padding: 5px;
}

.btn--startNow:hover {
  background-color: #fdcc52;
  border: 2px solid #fdcc52;
}

.container__segment--second {
  height: 300px;
  width: 100vw;
  background-color: #fec947;
}

.container__segment--fourth {
  height: 300px;
  width: 100vw;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(./assets/img/bg-cta.jpg);
  background-size: cover;
  background-position: center;
}

.container__segment--fifth {
  height: 150px;
  width: 100vw;
  background-color: #feca47;
  opacity: 0.9;
}

.container__segment--fifth:hover {
  opacity: 1;
}

.container__segment--sixth {
  background-color: #222222;
  color: lightgray;
}

.links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.links div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
}

.facebook {
  background-color: #3b5999;
}

.twitter {
  background-color: #1da1f3;
}

.youtube {
  background-color: #ff0000;
}

.footerlinks a:hover {
  color: #feca47;
}
